*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: gray;
    
    color: black;
    height: 50px;
    padding-top: 10px;
}

.container{
    margin-top: 20px;
   padding: 100px;
    height: 80vh;
    align-items: center;
}

.boxes{
    height: 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    border-radius: 15px;
}

.box:hover{
    cursor: pointer;
    transform: translateY(-2px);
}

.btn:hover{
    cursor: pointer;
}

.form{
    display: flex;
    justify-content: center;
    height: 20px;
}

.name, .btn{
    height: 30px;
    padding: 5px;
}